@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    color: inherit;
    font-family: Poppins;
}

h3 {
    text-align: center;
}

h3, h4, p {
    margin: 0;
}

button {
    background-color: #3f4b34;
    border: none;
    padding: 1em 1.5em;
    font-size: medium;
}

body {
    background-color: #5F6F52;
    color: #cfb79e;
}

div#tab-list {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 4em;
}

#tab-list > .selected {
    background-color: #4c5742;
}

div#tab-content, div#tab-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

div.hero > p {
    font-size: xx-large;
}

img.hero {
    max-height: 50%;
}

div.card {
    background-color: rgb(123, 91, 57);
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
}

div.card > * {
    width: 100%;
}

div.review {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    padding: 1em;
    flex-direction: column;
}

div.review > :nth-child(2) {
    align-self: flex-end;
}

div.menu-item {
    display: grid;
    grid-template: 1fr auto auto / auto auto 1fr;
    place-items: center;
    gap: 1em;
    box-sizing: border-box;
    width: 100%;
}

div.menu-item > img {
    max-height: 50vh;
    object-fit: cover;
}

div.menu-item > img, div.menu-item > p.desc {
    grid-column: span 3;
}

div.indicator {
    border: 2px solid red;
    border-radius: 2px;
    padding: 2px;
    width: fit-content;
    height: fit-content;
}

div.indicator > div {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background-color: red;
}

div.indicator.green {
    border-color: green;
}

div.indicator.green > div {
    background-color: green;
}

div.menu-item > p.price {
    text-align: end;
}

div.menu-item > p.desc {
    justify-self: start;
}
